.badge{
	visibility: hidden;
}


#mainPhoto{
	width:100%; 
	height: 27em; 
	border: 1px solid blue;
}
.col-md-2{
	color: blue; 
	text-align: center;
}
.col-md-3 img{
	width:100%; 
	height: 20%; 
	border: 1px solid blue;
}
.col-md-10{
	height: 8em; 
	margin: 2em 0em 0em 0em;
}
.col-md-12{
	margin-top: 2em;
}
.others{
	height:30em;
}
.others img{
	width:100%; 
	height: 9em;
}
.company img{
	width:100%; 
	height: 14em;
}
.company a{
	color: red;	
}
.department img{
	width:100%; 
	height: 14em;
}
.department a{
	color: blue;	
}

.product img{
	width:100%; 
	height: 14em;
}
.product a{
	color: green;	
}

.name{
	text-align: center;
}
#button1{
	margin-top: 1em;
}



.panel{
	width: 95%; margin: auto;
}
.cart-image {
	width: 30%;
	height: 25%;
}
.cart-image img{
	height: 125px;
	width: 175px;
}
.cart-product-name{
	font-size: 20px;
	width: 30%;
}
.cart-product-price{
	font-size: 20px;
	width: 20%;
}
.cart-product-amount{
	font-size: 20px;
	width: 71%;
}
.total{
	text-align: right;
	margin-right: 3em;
}
.intPrice{
	display: inline;
}