  .badge{
	visibility: hidden;
}


#mainPhoto{
	width:100%; 
	height: 27em; 
	border: 1px solid blue;
}
.col-md-2{
	color: blue; 
	text-align: center;
}
.col-md-3 img{
	width:100%; 
	height: 20%; 
	border: 1px solid blue;
}
.col-md-10{
	height: 8em; 
	margin: 2em 0em 0em 0em;
}
.col-md-12{
	margin-top: 2em;
}
.others{
	height:30em;
}
.others img{
	width:100%; 
	height: 9em;
}
.company img{
	width:100%; 
	height: 14em;
}
.company a{
	color: red;	
}
.department img{
	width:100%; 
	height: 14em;
}
.department a{
	color: blue;	
}

.product img{
	width:100%; 
	height: 14em;
}
.product a{
	color: green;	
}

.name{
	text-align: center;
}
#button1{
	margin-top: 1em;
}
