<div class="wrapper">
  <div class="content">
    

  <my-item>Loading items...</my-item>
  </div>
  <div class="footer">
    <div class="col-sm-12">
              <div class="col-sm-4" style="text-align: center;">
                <p>
                  <a href="https://www.google.com/?hl=en_US">
                    <img alt="Google logo" src="img/logo.svg">
                  </a>
                </p>
              </div>
              <div class="col-sm-4" style="text-align: center;">
                <p><a href="https://www.google.com/intl/en_US/policies/">Privacy & Terms</a></p>
              </div>
              <div class="col-sm-4" style="text-align: center;">
                <p><a href="https://www.google.com/about/">{{totalItems}} Google</a></p>
              </div>
      </div>
  </div>
</div>



